.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 14rem;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.brandname {
  margin-top: 1.5em;
  margin-bottom: 1.5rem;
  padding: .5em;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  color: black;
  flex: 1 1 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.spacer {
  flex: 1;
}

.container {
  padding: 1rem;
  background-color: #f4f4f5;
  min-height: 85vh;
}

.icons {
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

.list-item-active {
  font-weight: bold;
  background: #9FA6B2;

}

.btmnav {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem;

}