/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-notification-error {
    --mdc-snackbar-supporting-text-color: #fff;
    --mdc-snackbar-supporting-font-size: 1.2em;
    --mdc-snackbar-container-color: #f23a2f;
}

.app-notification-success {
    --mdc-snackbar-supporting-text-color: #fff;
    --mdc-snackbar-supporting-font-size: 1.2em;
    --mdc-snackbar-container-color: #43a446;
}
